<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="loggedProfile">
	<div class="modal fade" id="profileModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">프로필 수정</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="profileUpdate" enctype="multipart/form-data">
						<div class="profile-section">
							<div class="profile-container">
								<img id="logged_img" th:src="${loggedMember.profile}" alt="프로필 이미지" class="profile-image">
							</div>
							<div class="profile-buttons">
								<button type="button" class="btn btn-outline-primary profile-button" id="logged_uploadBtn" onclick="imgUpload(this)">프로필 업로드</button>
								<button type="button" class="btn btn-outline-danger profile-button" id="logged_removeBtn" onclick="imgRemove(this)">제거</button>
							</div>
							<input type="file" accept="image/*" id="logged_profile" name="file" style="display: none;" onchange="validateProfileImage()"> 
							<input type="hidden" th:value="${loggedMember.profile}" name="profile" id="logged-profile-value">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="profile_btn_update" >변경</button>
				</div>
			</div>
		</div>
	</div>
	
<script>
		$(document).ready(function() {
			console.log("페이지가 로드되었습니다.");
			$("#logged-profile").on("click", function() {
				$("#profileModal").modal("show");
				updateProfile();
			});
		});

		function updateProfile() {
			$("#profile_btn_update").click(function(e) {
				e.preventDefault();
				var formData = new FormData($("#profileUpdate")[0]);

				$.ajax({
					type : "PUT",
					url : "/members/profile",
					data : formData,
					processData : false,
					contentType : false,
					success : function() {
						alert("정상적으로 프로필 수정되었습니다.");
						$("#profileModal").modal('hide');
						location.reload();
					},
					error : function() {
						alert("프로필 수정에 실패하였습니다.");
					}
				});
			});
		}
	
	
	$("#logged_profile").on("change", validateProfileImage);

	function validateProfileImage() {
	    var file = $("#logged_profile")[0].files[0];
	    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;

	    if (!file) {
	        return false;
	    }

	    if (!allowedExtensions.exec(file.name)) {
		        alert('jpg, jpeg, png 파일만 업로드 가능합니다.');
		        $("#logged_profile").val(''); // 파일 입력 초기화
		        resetProfileImage(); // 원래 이미지로 되돌리기
		        return false;
	    } else {
	        previewImage(file);
	        return true;
	    }
	}

	function previewImage(file) {
	    var reader = new FileReader();
	    reader.onload = function(e) {
	        $("#logged_img").attr('src', e.target.result);
	    }
	    reader.readAsDataURL(file);
	}

	function resetProfileImage() {
	    var originalImageSrc = $("#logged-profile-value").val();
	    $("#logged_img").attr('src', originalImageSrc);
	}

	</script>
</th:block>
